/* slide-down(show from nothing to something) */
/* 演習問題に使用 */
/* .box1 {
  display: none; 
  background-color: #FF0000;
  height: 200px;
  width: 200px;
} */

/* slide-up(show from something to nothing) */
.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

/* cssを追加、addClass(クラス名)で呼び出す */

.box1-ext {
  border: 10px solid black;
}